.throwTheBone {
  width: 100%;
  height: 450px;
  margin-bottom: 60px;
}

.homepage .heroSection {
  background-color: var(--beige-color);
  padding: 50px 20px;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.homepage .heroSection h1 {
  color: var(--green-color);
  font-size: 3rem;
}

.homepage .heroSection p {
  font-size: 1.2rem;
  margin: 40px 0;
}

.homepage .heroSection .reportButtons {
  display: flex;
  gap: 1rem;
}

.homepage .heroSection .reportButtons button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.5rem;
  border: 2px solid var(--green-color);
  color: var(--beige-color);
  background-color: var(--green-color);
  padding: 12px 25px 10px 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.homepage .heroSection .reportButtons button:hover {
  color: var(--green-color);
  background-color: transparent;
}

.homepage .heroSection .detectiveColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .heroSection .detectiveColumn .detective {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
.homepage .tips,
.aboutUs,
.faqs {
  padding: 50px 20px;
}

.homepage .aboutUs {
  background-color: var(--beigeLight-color);
}

.homepage .tips ul li,
.faqs ul li {
  list-style: none;
  display: grid;
  margin: 20px 0;
  font-size: 1rem;
}

.homepage .tips h1,
.aboutUs h1,
.faqs h1 {
  color: var(--green-color);
  margin-bottom: 10px;
  font-size: 3rem;
}

.homepage .tips p,
.aboutUs p {
  margin: 20px 0;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .homepage .heroSection {
    padding: 20px 100px;
  }
  .homepage .tips,
  .aboutUs,
  .faqs {
    padding: 50px 100px;
  }
}

@media (min-width: 1200px) {
  .homepage .heroSection {
    padding: 20px 150px;
  }
  .homepage .tips,
  .aboutUs,
  .faqs {
    padding: 50px 150px;
  }
}

@media (min-width: 1400px) {
  .homepage .heroSection {
    padding: 20px 200px;
  }
  .homepage .tips,
  .aboutUs,
  .faqs {
    padding: 50px 200px;
  }
}
